{
  "server_ip": "__SERVER_IP__",
  "outbounds": [
    { "type": "direct", "tag": "jp" }
  ],
  "route": {
    "rules": [
      { "ip_cidr": ["__SERVER_IP__/32", "127.0.0.0/8"], "action": "reject" }
    ],
    "final": "jp"
  }
}
